{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
	
	<div class="col-md-12 col-sm-12 col-xs-12"> <!-- Purch order list -->
        <div class="x_panel tile">
            <div class="x_title">
            	{% block content_title %}
            		<h2>Todas las órdenes de compra</h2>	
            	{% endblock content_title %}
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="lnr lnr-chevron-down"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
        	</div>
            <div class="x_content table-responsive">
            	<a class='btn btn-purple pull-right' href="{% url "purch:new" %}" title="Crear nueva orden de compra" id="NewVendorBtn">
					<i class="fa fa-plus"></i> Nueva orden de compra
				</a>
				<div><a href="{% url "purch:csv" %}" class="btn btn-warning" title="Exportar a CSV (Archivo separado por comas)">CSV <i class="fa fa-file-text-o"></i></a>
				<a href="{% url "purch:pdf" %}" target="_blank" class="btn btn-danger" title="Exportar a PDF">PDF <i class="fa fa-file-pdf-o"></i></a></div>
				<table id="PurchOrderListTableId" class="display table table-hover">
				    <thead>
				        <tr>
				            <th>Orden de compra</th>
				            <th>Cuenta de proveedor</th>
				            <th>Nombre</th>
				            <th>Tipo de compra</th>
				            <th>Estado del pedido</th>
				            <th>Pedido</th>
				            <th>Acciones</th>
				        </tr>
				    </thead>
				    <tbody>
				    	{% for order in orders %}
				    		<tr>
					            <td><a href="{% url "purch:update" PurchId=order.PurchId %}" class="btn btn-link btn-xs">{{ order.PurchId }}</a></td>
					            <td><a href="{% url "vendor:update" AccountNum=order.Vendor %}" class="btn btn-link btn-xs">{{ order.Vendor }}</a></td>
					            <td>{{ order.PurchName }}</td>
					            {% if order.PurchaseType == 'PO' %}
					            	<td>Orden de compra</td>
				            	{% elif order.PurchaseType == 'RO' %}
				            		<td>Devolución</td>
					            {% endif %}
					            
					            {% if order.PurchStatus == 'OPE' %}
					            	<td>Abierto</td>
			            		{% elif order.PurchStatus == 'BAC'%}
									<td>Back Order</td>
								{% elif order.PurchStatus == 'REC'%}
									<td>Recibido</td>
								{% elif order.PurchStatus == 'INV'%}
									<td>Facturado</td>
								{% elif order.PurchStatus == 'PAI'%}
									<td>Pagado</td>
								{% elif order.PurchStatus == 'CAN'%}
									<td>Cancelado</td>
								{% elif order.PurchStatus == 'RPA'%}
									<td>Recibido/Pagado</td>
					            {% endif %}
					            {% if order.Enabled %}
					            	<td>Abierto</td>
				            	{% else %}
				            		<td>Cerrado</td>
					            {% endif %}
					            <td class="text-center">
									<a class='btn btn-info btn-xs' href="{% url "purch:update" PurchId=order.PurchId %}">
										<span class="lnr lnr-pencil"></span> Editar
									</a>
									{% if order.PurchStatus == 'OPE' or order.PurchStatus == 'CAN' %}
										<a href="{% url "purch:delete" pk=order.pk %}" class="btn btn-danger btn-xs">
											<span class="lnr lnr-cross"></span> Eliminar
										</a>
								 	{% endif %}
								</td>
					        </tr>
				    	{% endfor %}
				        
				    </tbody>
				</table>
            </div>
        </div>
    </div>

{% endblock %}