{% extends 'base.html' %}
{% load staticfiles i18n %}
{% load widget_tweaks %}

{% block content %}
	<form action="" method="POST" id="PurchOrderForm"> {% csrf_token %}
		{% if purch_form.errors %}
		    {% for field in purch_form %}
		        {% for error in field.errors %}
		        	<style>
						#{{ field.id_for_label }} {
							border: 1px solid #f64747;
							border-radius: 2px;
						}
		        	</style>				            
		        {% endfor %}
		    {% endfor %}
		    {% for error in purch_form.non_field_errors %}
		        <div class="alert alert-error">
		            <strong> {{ error }}</strong>
		        </div>
		    {% endfor %}
		{% endif %}

		{% block page_title %}
		{% endblock %}
		<div class="col-md-12 col-sm-12 col-xs-12"> <!-- General info -->
	        <div class="x_panel tile">
	            <div class="x_title">
	                <h2>General</h2>
	                <ul class="nav navbar-right panel_toolbox">
	                    <li><a class="collapse-link"><i class="lnr lnr-chevron-down"></i></a>
	                    </li>
	                </ul>
	                <div class="clearfix"></div>
            	</div>
	            <div class="x_content">
	                
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<!-- Orden de compra -->
							<h4><strong>Orden de compra</strong></h4>
							<div class="form-group">
								{{ purch_form.PurchId.errors }}
								<label for="{{ purch_form.PurchId.id_for_label }}">*Orden de compra (OC)</label>
								{% render_field purch_form.PurchId|append_attr:"readonly" class+="form-control form_disabled" %}
							</div>
							<div class="form-group">
								{{ purch_form.PurchName.errors }}
								<label for="{{ purch_form.PurchName.id_for_label }}">*Nombre (OC)</label>
								{% render_field purch_form.PurchName|append_attr:"required" class+="form-control" %}
							</div>
							<div class="form-group">
								{{ purch_form.PurchaseType.errors }}
								<label for="{{ purch_form.PurchaseType.id_for_label }}">Tipo de orden</label>
								{% render_field purch_form.PurchaseType class+="form-control" %}
							</div>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<!-- Proveedor -->
							<h4><strong>Proveedor</strong></h4>
							<div class="form-group">
								<label for="">Proveedor de una sola vez</label>
								<input id="OneTimeVendor" type="Checkbox" class="form-control form_disabled" readonly="True">
							</div>
							<div class="form-group">
								{{ purch_form.Vendor.errors }}
								<label for="{{ purch_form.Vendor.id_for_label }}">*Cuenta de proveedor</label>
								<div class="col-md-11 col-sm-11">
									{% render_field purch_form.Vendor class+="form-control" %}
								</div>
								<div class="col-md-1 col-sm-1">
									<a href="{% url "vendor:new" %}" target="_blank" class="btn btn-xs btn-success pull-right"><i class="fa fa-plus"></i></a>
								</div>
							</div>
							<div class="form-group">
								{{ purch_form.WorkerPurchPlacer.errors }}
								<label for="{{ purch_form.WorkerPurchPlacer.id_for_label }}">Nombre del proveedor</label>
								{% render_field purch_form.WorkerPurchPlacer|append_attr:"readonly" class+="form-control form_disabled" %}
							</div>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<!-- Estado -->
							<h4><strong>Estado</strong></h4>
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs12">
									<div class="form-group">
									<label for="">Estado de la orden</label>
									{% render_field purch_form.PurchStatus class+="form-control form_disabled" %}
								</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs12">
									<div class="form-group">
										<label for="">Fecha</label>
										<div class="inner-addon right-addon">
											<span class="lnr lnr-calendar-full"></span>
											<input readonly class="form-control form_disabled" type="text" {% if PurchOrder.pk %}
												value="{{ PurchOrder.created|date:"d/m/y" }}"
												{% else %}
												value="{{ Today|date:"d/m/y" }}"
											{% endif %}>
										</div>
									</div>
								</div>
							</div>
							
							<!-- Observaciones -->
							<h4><strong>Observaciones</strong></h4>
							<div class="form-group">
								{{ purch_form.Remarks.errors }}
								{% render_field purch_form.Remarks|attr:"rows:4" class+="form-control" %}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="row col-md-12">
							<h2>Configurar</h2>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="form-group">
								<label for="VATNum">RFC</label>
								<input id="VATNum" type="text" class="form-control form_disabled" readonly value="{{ PurchOrder.Vendor.VATNum }}">
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="row col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									{{ purch_form.CurrencyCode.errors }}
									<label for="{{ purch_form.CurrencyCode.id_for_label }}">Moneda</label>
									{% render_field purch_form.CurrencyCode class+="form-control" %}
								</div>
							</div>
							<div class="row col-md-6 col-sm-6 col-xs-12">
								<div class="form-group">
									{{ purch_form.LanguageCode.errors }}
									<label for="{{ purch_form.LanguageCode.id_for_label }}">Lenguaje</label>
									{% render_field purch_form.LanguageCode|append_attr:"readonly" class+="form-control form_disabled" %}
								</div>
							</div>
						</div>
					</div>
	            </div>
	        </div>
	    </div>
		
		<div class="col-md-12 col-sm-12 col-xs-12"> <!-- Postal and delivery info -->
	        <div class="x_panel tile">
	            <div class="x_title">
	                <h2>Condiciones de entrega y pago</h2>
	                <ul class="nav navbar-right panel_toolbox">
	                    <li><a class="collapse-link"><i class="lnr lnr-chevron-down"></i></a>
	                    </li>
	                </ul>
	                <div class="clearfix"></div>
            	</div>
	            <div class="x_content">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<!-- Dirección -->
							<h4><strong>Dirección</strong></h4>
							<div class="form-group">
								<label for="{{ purch_form.DeliveryName.id_for_label }}">Dirección de entrega</label>
								<textarea readonly name="" id="{{ purch_form.DeliveryName.id_for_label }}" rows="3" class="form-control form_disabled">{{ PurchOrder.Vendor.get_PrimaryAddress }}
								</textarea>
							</div>
							<!-- Contacto -->
							<h4><strong>Contacto</strong></h4>
							<div class="form-group">
								<label for="">Contacto de entrega</label>
								<input readonly type="text" class="form-control form_disabled" value="{{ PurchOrder.Vendor.get_PrimaryElectronic }}" id="id_DeliveryContact">
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<!-- Entrega -->
							<h4><strong>Entrega</strong></h4>
							<div class="form-group">
								{{ purch_form.DeliveryDate.errors }}
								<label for="{{ purch_form.DeliveryDate.id_for_label }}">Fecha de entrega</label>
								<div class="inner-addon right-addon">
									<span class="lnr lnr-calendar-full"></span>
									{% render_field purch_form.DeliveryDate class+="datepicker form-control" %}
								</div>
							</div>
							<div class="form-group">
								{{ purch_form.ConfirmedDlv.errors }}
								<label for="{{ purch_form.ConfirmedDlv.id_for_label }}">Fecha de confirmación</label>
								<div class="inner-addon right-addon">
									<span class="lnr lnr-calendar-full"></span>
									{% render_field purch_form.ConfirmedDlv class+="datepicker form-control" %}
								</div>
							</div>
							<div class="form-group">
								{{ purch_form.DlvMode.errors }}
								<label for="{{ purch_form.DlvMode.id_for_label }}">Modo de entrega</label>
								{% render_field purch_form.DlvMode class+="form-control" %}
							</div>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-12">
							<!-- Pago -->
							<h4><strong>Pago</strong></h4>
							<div class="form-group">
								{{ purch_form.Payment.errors }}
								<label for="{{ purch_form.Payment.id_for_label }}">Condición de pago</label>
								<div class="col-md-11 col-sm-11">
									{% render_field purch_form.Payment class+="form-control" %}
								</div>
								<div class="col-md-1 col-sm-1">
									<a href="{% url "payment:manage-paym" %}" target="_blank" class="btn btn-xs btn-success pull-right"><i class="fa fa-plus"></i></a>
								</div>
							</div>
							<div class="form-group">
								{{ purch_form.PaymMode.errors }}
								<label for="{{ purch_form.PaymMode.id_for_label }}">Método de pago</label>
								<div class="col-md-11 col-sm-11">
									{% render_field purch_form.PaymMode class+="form-control" %}
								</div>
								<div class="col-md-1 col-sm-1">
									<a href="{% url "payment:manage-paym" %}" target="_blank" class="btn btn-xs btn-success pull-right"><i class="fa fa-plus"></i></a>
								</div>
							</div>
							<div class="form-group">
								{{ purch_form.Location.errors }}
								<label for="{{ purch_form.Location.id_for_label }}">Ubicación de inventario</label>
								<div class="col-md-11 col-sm-11">
									{% render_field purch_form.Location|append_attr:'required' class+="form-control" %}
								</div>
								<div class="col-md-1 col-sm-1">
									<a href="{% url "inventory:new-location" %}" target="_blank" class="btn btn-xs btn-success pull-right"><i class="fa fa-plus"></i></a>
								</div>
							</div>
						</div>
					</div>
	            </div>
	        </div>
	    </div>
		
	    <div class="col-md-12 col-sm-12 col-xs-12">
	        <div class="x_panel tile">
	            <div class="x_title">
	                <h2>Lineas de la orden</h2>
	                <ul class="nav navbar-right panel_toolbox">
	                    <li><a class="collapse-link"><i class="lnr lnr-chevron-down"></i></a>
	                    </li>
	                </ul>
	                <div class="clearfix"></div>
            	</div>
            	<div class="row">
            		<div class="col-md-1 col-sm-1 col-xs-12">Artículo:</div>
            		<div class="col-md-1 col-sm-1 col-xs-12 btn-xs btn-dark" id="item_info"></div>
            		<div class="col-md-1 col-sm-1 col-xs-12">Ubicacion:</div>
            		<div class="col-md-1 col-sm-1 col-xs-12 btn-xs btn-beige" id="location_info"></div>
            		<div class="col-md-1 col-sm-1 col-xs-12">Stock</div>
            		<div class="col-md-1 col-sm-1 col-xs-12 btn-xs btn-info" id="stock_info"></div>
            		<div class="col-md-1 col-sm-1 col-xs-12">Disponible:</div>
            		<div class="col-md-1 col-sm-1 col-xs-12 btn-xs btn-success" id="available_info"></div>
            		<div class="col-md-1 col-sm-1 col-xs-12">Reservado:</div>
            		<div class="col-md-1 col-sm-1 col-xs-12 btn-xs btn-danger" id="reserved_info"></div>
            	</div>
	            <div class="x_content table-responsive">
				    <table border="0" cellpadding="0" cellspacing="0" class="table table-condensed table-hover table-striped" id="purchline_table">
					    <thead>
					        <tr>
					            <th id="item_id_h">Código de artículo</th>
					            <th id="item_name_h">Nombre de artículo</th>
					            <th id="item_qty_h">Cantidad</th>
					            <th id="item_unit_h">Unidad</th>
					            <th id="item_price_h">$ Precio</th>
					            <th id="item_disc_h">$ Descuento</th>
					            <th id="item_percent_h">Descuento %</th>
					            <th id="item_total_h">$ Total linea</th>
					            <th id="item_action_h">Accion</th>
					        </tr>
					    </thead>
					    <tbody class="purchline_formset">
				            {% for purchline_form in purchline_formset.forms %}
				            	{% if purchline_form.errors %}
								    {% for field in purchline_form %}
								        {% for error in field.errors %}
								        	<style>
												#{{ field.id_for_label }} {
													border: 1px solid #f64747;
													border-radius: 2px;
												}
								        	</style>				            
								        {% endfor %}
								    {% endfor %}
								    {% for error in purchline_form.non_field_errors %}
								        <div class="alert alert-error">
								            <strong> {{ error }}</strong>
								        </div>
								    {% endfor %}
								    {{ purchline_form.non_field_errors }}
								{% endif %}
					            <tr>
									<td>{% render_field purchline_form.ItemId class+="form-control item-id" %}</td>
									<td>{% render_field purchline_form.ItemName class+="form-control" %}</td>
									<td>{% render_field purchline_form.PurchQty class+="pl_amount form-control pl_qty" %}</td>
									<td>{% render_field purchline_form.PurchUnit class+="form-control" %}</td>
									<td>{% render_field purchline_form.PurchPrice class+="pl_amount form-control amount" %}</td>
									<td>{% render_field purchline_form.LineDisc class+="pl_amount form-control pl_disc" %}</td>
									<td>{% render_field purchline_form.LinePercent class+="pl_amount form-control pl_percent" %}</td>
									<td>{% render_field purchline_form.LineAmount|append_attr:'readonly' class+="form-control amount total_amount form_disabled" %}</td>
									<td></td>
					            </tr>
					            {% for hidden in purchline_form.hidden_fields %}
							        {{ hidden }}
							    {% endfor %}
				            {% endfor %}
				            {{ purchline_formset.management_form }}
					    </tbody>
					</table>
				    <div class="row">
				    	{% if PurchOrder.pk %}
				    		<div class="form-group pull-left">
						    	<ul class="purch_options">
						    		{% if PurchOrder.Enabled %}
						    			<li><a id="cancel_order_btn" class="btn btn-block btn-warning" href="javascript:void(0)">Cancelar pedido</a></li>
					    			{% else %}
					    				<li><a id="cancel_order_btn" class="btn btn-block btn-warning" href="javascript:void(0)">Reabrir pedido</a></li>
						    		{% endif %}
						    		<li>
						    			<!-- Split button -->
										<div class="btn-group" id="ReceiveSplit">
										  <button type="button" class="btn btn-info form_disabled" id="receive_pay">Recibir y pagar</button>
										  <button type="button" class="btn btn-info form_disabled dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    <span class="caret"></span>
										    <span class="sr-only">Toggle Dropdown</span>
										  </button>
										  <ul class="dropdown-menu">
										    <li><a href="#" id="receive_invent">Recibir inventario</a></li>
										    <li><a href="#" id="pay_order">Pagar al proveedor</a></li>
										  </ul>
										</div>
						    		</li>
						    	</ul>				    			
				    		</div>
					    {% endif %}
					    {% render_field purch_form.Enabled|append_attr:"style:visibility:hidden"%}
					    {% render_field purch_form.DocumentState|append_attr:"style:visibility:hidden"%}
				    	<div class="col-md-4 col-sm-4 col-xs-12 pull-right">
				    		<div class="form-group">
				    			<div class="col-md-4 col-sm-4 col-xs 12">
					    			<label for="{{ purch_form.SubTotal.id_for_label }}" class="pull-right"><strong>SubTotal</strong></label>
					    		</div>
					    		<div class="col-md-8 col-sm-8 col-xs-12">
					    			<div class="inner-addon left-addon">
					    				<i class="lnr">$</i>
					    				{% render_field purch_form.SubTotal|append_attr:'readonly' class+="form-control amount form_disabled" %}
					    			</div>
					    		</div>
					    		<div class="col-md-4 col-sm-4 col-xs 12">
					    			<label for="{{ purch_form.Total.id_for_label }}" class="pull-right"><strong>Total</strong></label>
					    		</div>
					    		<div class="col-md-8 col-sm-8 col-xs-12">
					    			<div class="inner-addon left-addon">
					    				<i class="lnr">$</i>
					    				{% render_field purch_form.Total|append_attr:'readonly' class+="form-control amount form_disabled" %}
					    			</div>
					    		</div>
					    		{% if PurchOrder.pk  %}
						    		<div class="col-md-4 col-sm-4 col-xs 12">
						    			<label for="{{ purch_form.Paid.id_for_label }}" class="pull-right"><strong>Pagado</strong></label>
						    		</div>
						    		<div class="col-md-8 col-sm-8 col-xs-12">
						    			<div class="inner-addon left-addon">
						    				<i class="lnr">$</i>
						    				{% render_field purch_form.Paid class+="form-control amount" %}
						    			</div>
						    		</div>
						    		<div class="col-md-4 col-sm-4 col-xs 12">
						    			<label for="{{ purch_form.Balance.id_for_label }}" class="pull-right"><strong>Balance</strong></label>
						    		</div>
						    		<div class="col-md-8 col-sm-8 col-xs-12">
						    			<div class="inner-addon left-addon">
						    				<i class="lnr">$</i>
						    				{% render_field purch_form.Balance|append_attr:'readonly' class+="form-control amount form_disabled" %}
						    			</div>
						    		</div>
					    		{% endif %}
				    		</div>
				    	</div>				    	
				    </div>
	            </div>
	        </div>
	    </div>

	</form>
</div>
{% endblock %}


{% block ExtraJS %}
<script type="text/javascript" charset="utf8" src="{% static "js/PurchOrder/PurchOrder.js" %}"></script>
{% endblock ExtraJS %}