{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
	
	<div class="col-md-12 col-sm-12 col-xs-12"> <!-- Purch order list -->
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Ordenes de compra</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="lnr lnr-chevron-down"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
        	</div>
            <div class="x_content table responsive">
                <a class='btn btn-primary btn-lg btn-xs pull-right' href="{% url "purch:new" %}">
				<span class="lnr lnr-pencil"></span> Nueva orden de compra
				</a>
				<table id="PurchOrderListTableId" class="display table table-hover">
				    <thead>
				        <tr>
				            <th>Orden de compra</th>
				            <th>Cuenta de proveedor</th>
				            <th>Nombre</th>
				            <th>Tipo de compra</th>
				            <th>Estado de la orden</th>
				            <th>Pedido</th>
				            <th>Acciones</th>
				        </tr>
				    </thead>
				    <tbody>
				    	{% for order in orders %}
				    		<tr>
					            <td><a href="{% url "purch:update" PurchId=order.PurchId %}">{{ order.PurchId }}</a></td>
					            <td><a href="{% url "vendor:update" AccountNum=order.Vendor %}">{{ order.Vendor }}</a></td>
					            <td>{{ order.PurchName }}</td>
					            <td>{{ order.PurchaseType }}</td>
					            <td>{{ order.PurchStatus }}</td>
					            {% if order.Enabled %}
					            	<td>Abierto</td>
				            	{% else %}
				            		<td>Cerrado</td>
					            {% endif %}
					            <td class="text-center">
									<a class='btn btn-info btn-xs' href="{% url "purch:update" PurchId=order.PurchId %}">
										<span class="lnr lnr-pencil"></span> Editar
									</a> 
									<a href="{% url "purch:delete" pk=order.pk %}" class="btn btn-danger btn-xs">
										<span class="lnr lnr-cross"></span> Eliminar
									</a>
								</td>
					        </tr>
				    	{% endfor %}
				        
				    </tbody>
				</table>
            </div>
        </div>
    </div>

{% endblock %}