{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
	
	<div class="col-md-12 col-sm-12 col-xs-12"> <!-- Purch order list -->
        <div class="x_panel tile">
            <div class="x_title">
                <h2>Inventario de artículos</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="lnr lnr-chevron-down"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
        	</div>
            <div class="x_content table-responsive">
            	<a class='btn btn-purple pull-right' href="{% url "inventory:new" %}" title="Agregar nuevo proveedor" id="NewVendorBtn">
					<i class="fa fa-plus"></i> Nuevo artículo
				</a>
				<div><a href="{% url "inventory:csv" %}" class="btn btn-warning" title="Exportar a CSV (Archivo separado por comas)">CSV <i class="fa fa-file-text-o"></i></a>
				<a href="{% url "inventory:pdf" %}" target="_blank" class="btn btn-danger" title="Exportar a PDF">PDF <i class="fa fa-file-pdf-o"></i></a></div>
				<table id="InventoryListTableId" class="display table table-hover">
				    <thead>
				        <tr>
				            <th>Código de artículo</th>
				            <th>Nombre de artículo</th>
				            <th>Unidad de venta</th>
				            <th>Precio de venta</th>
				            <th>Proveedor principal</th>
				            <th>Unidad de compra</th>
				            <th>Precio de compra</th>
				            <th>En stock</th>
				            <th>Acciones</th>
				        </tr>
				    </thead>
				    <tbody>
				    	{% for item in items %}
				    		<tr>
					            <td>
					            	<a class='btn btn-link btn-xs' href="{% url "inventory:update" ItemId=item.ItemId %}">
										{{ item.ItemId }}
									</a>
								</td>
					            <td>{{ item.ItemName }}</td>
					            <td>{{ item.getSalesUnit }}</td>
					            <td class="amount">{{ item.Price }}</td>
					            <td>
					            {% if item.PrimaryVendor %}
					            	<a class='btn btn-link btn-xs' href="{% url "vendor:update" AccountNum=item.PrimaryVendor %}">
										{{ item.PrimaryVendor }}
									</a>
					            {% endif %}
					            <td>{{ item.getPurchUnit }}</td>
					            <td class="amount">{{ item.getPurchPrice }}</td>
								</td>
								<td {% if item.GetInventoryTotalItems <= 0 %}class="qty btn-danger" {% else %} class="qty btn-success"{% endif %}>
									{{ item.GetInventoryTotalItems }}
								</td>
					            <td class="text-center">
									<a class='btn btn-info btn-xs' href="{% url "inventory:update" ItemId=item.ItemId %}">
										<span class="lnr lnr-pencil"></span> Editar
									</a> 
									{% if item.CanDelete %}
										<a href="{% url "inventory:delete" ItemId=item.ItemId %}" class="btn btn-danger btn-xs">
											<span class="lnr lnr-cross"></span> Eliminar
										</a>
									{% endif %}
								</td>
					        </tr>
				    	{% endfor %}
				        
				    </tbody>
				</table>
            </div>
        </div>
    </div>

{% endblock %}