{% extends 'base.html' %}
{% load staticfiles i18n %}
{% load widget_tweaks %}

{% block content %}
	<form action="" method="POST" id="InventoryForm"> {% csrf_token %}
		{% if item_form.errors %}
		    {% for field in item_form %}
		        {% for error in field.errors %}
		        	<style>
						#{{ field.id_for_label }} {
							border: 1px solid #f64747;
							border-radius: 2px;
						}
		        	</style>		            
		        {% endfor %}
		    {% endfor %}
		    {% for error in item_form.non_field_errors %}
		        <div class="alert alert-error">
		            <strong> {{ error|escape }}</strong>
		        </div>
		    {% endfor %}
		{% endif %}

		{% block page_title %}
		{% endblock %}

		<div class="col-md-12 col-sm-12 col-xs-12"> <!-- Vendor info -->
	        <div class="x_panel tile">
	            <div class="x_title">
	                <h2>Información de artículo</h2>
	                <ul class="nav navbar-right panel_toolbox">
	                    <li><a class="collapse-link"><i class="lnr lnr-chevron-down"></i></a>
	                    </li>
	                </ul>
	                <div class="clearfix"></div>
            	</div>
	            <div class="x_content">
	                <div class="col-md-6 col-sm-6 col-xs-12">
	                	<h2>General</h2>
	                	<div class="col-md-6 col-sm-6 col-xs-12">
	                		<div class="form-group">
								{{ item_form.ItemId.errors }}
								<label for="{{ item_form.ItemId.id_for_label }}">Código de artículo</label>
								{% render_field item_form.ItemId class+="form-control" %}
							</div>
							<div class="form-group">
								{{ item_form.ItemName.errors }}
								<label for="{{ item_form.ItemName.id_for_label }}">Nombre de artículo</label>
								{% render_field item_form.ItemName class+="form-control" %}
							</div>
							<div class="form-group">
								{{ item_form.Description.errors }}
								<label for="{{ item_form.Description.id_for_label }}">Descripción</label>
								{% render_field item_form.Description|attr:"rows:4" class+="form-control" %}
							</div>
	                	</div>
	                	<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="form-group">
								{{ item_form.UnitId.errors }}
								<label for="{{ item_form.UnitId.id_for_label }}">Unidad</label>
								{% render_field item_form.UnitId class+="form-control" %}
							</div>
							<div class="form-group">
								{{ item_form.Price.errors }}
								<label for="{{ item_form.Price.id_for_label }}">Precio de venta</label>
								{% render_field item_form.Price class+="form-control" %}
							</div>
							<div class="form-group">
								{{ item_form.PrimaryVendor.errors }}
								<label for="{{ item_form.PrimaryVendor.id_for_label }}">Proveedor principal</label>
								{% render_field item_form.PrimaryVendor class+="form-control" %}
							</div>
							<div class="form-group">
								{{ item_form.VendorPrice.errors }}
								<label for="{{ item_form.VendorPrice.id_for_label }}">Precio de compra</label>
								{% render_field item_form.VendorPrice class+="form-control" %}
							</div>
	                	</div>

	                	<h2>Inventario</h2>
	                	<div style="width: 400px; height: 150px; overflow-y: scroll;" class="table-responsive">
	                		<table border="0" cellpadding="0" cellspacing="0" class="table table-condensed table-hover table-striped">
							    <thead>
							        <tr>
							            <th style="width: 200px;">Ubicación</th>
							            <th>Cantidad</th>
							            <th>Accion</th>
							        </tr>
							    </thead>
							    <tbody class="inventory_formset">
						            {% for invent_form in inventory_formset.forms %}
						            	{% if invent_form.errors %}
										    {% for field in invent_form %}
										        {% for error in field.errors %}
										        	<style>
														#{{ field.id_for_label }} {
															border: 1px solid #f64747;
															border-radius: 2px;
														}
										        	</style>
										        	{{ error }}				            
										        {% endfor %}
										    {% endfor %}
										    {% for error in invent_form.non_field_errors %}
										        <div class="alert alert-error">
										            <strong> {{ error }}</strong>
										        </div>
										    {% endfor %}
										    {{ invent_form.non_field_errors }}
										{% endif %}
							            <tr>
											<td>{% render_field invent_form.Location class+="form-control" %}</td>
											<td>{% render_field invent_form.Qty class+="form-control" %}</td>
											<td></td>
							            </tr>
							            {% for hidden in invent_form.hidden_fields %}
									        {{ hidden }}
									    {% endfor %}
						            {% endfor %}
						            {{ inventory_formset.management_form }}
							    </tbody>
							</table>
					    </div>						
	                </div>
	                <div class="col-md-6 col-sm-6 col-xs-12">
	                	<h2>Imagen</h2>
	                	<div class="form-group file_upload">
							{{ item_form.ItemImage.errors }}
							{% render_field item_form.ItemImage class+="" %}
							<div class="img_container">
								<img id="item_image"/>
							</div>
						</div>
	                </div>
	            </div>
	        </div>
	    </div>

	</form>

{% endblock %}

{% block ExtraJS %}
<script type="text/javascript" charset="utf8" src="{% static "js/Inventory/Inventory.js" %}"></script>
{% endblock ExtraJS %}