{% extends 'Inventory/Inventory.html' %}
{% load widget_tweaks %}

{% block page_title%}
	<div class="row">
		<div class="col-md-6 page_title">
			<strong class="btn-primary"><h4>{{ Item.ItemId }} | &nbsp; </h4></strong>
			<span class="btn-beige"> <h5> &nbsp;Última vez modificado: {{ Item.modified|date:"D d M Y" }} {{ Item.modified|time:"H:i" }} &nbsp;</h5> </span>
		</div>
		<div class="col-md-2">
			<a href="{% url "inventory:delete" ItemId=Item.ItemId %}" class="btn btn-danger btn-block" id="DelInventBtn">
				<i class="fa fa-times"></i> Eliminar
			</a>
		</div>
		<div class="col-md-2">
			<a class='btn btn-purple pull-right btn-block' href="{% url "inventory:new" %}" title="Crear nuevo artículo" id="NewItemBtn">
				<i class="fa fa-plus"></i> Nuevo artículo
			</a>
		</div>
		<div class="col-md-2">
			<button type="submit" class="btn btn-success btn-block pull-right" id="SaveInventBtn"><i class="fa fa-check"></i> Guardar</button>
		</div>
	</div>
{% endblock %}