{% extends 'base.html' %}
{% load widget_tweaks %}

{% block panel_title%}
	<h2><strong>Nuevo artículo</strong></h2>
{% endblock %}

{% block content %}
	<form action="" method="POST"> {% csrf_token %}
		<div class="row">
			<div class="col-md-6">
				<h1>Artículo {{ form.object }}</h1>	
			</div>
			<div class="col-md-3">
				
			</div>
			<div class="col-md-3">
				<button type="submit" class="btn btn-success btn-block">Guardar</button>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 ">
			
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12"> <!-- Vendor info -->
	        <div class="x_panel tile">
	            <div class="x_title">
	                <h3 class="page_title">Información de artículo</h3>
	                <ul class="nav navbar-right panel_toolbox">
	                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                    </li>
	                </ul>
	                <div class="clearfix"></div>
            	</div>
	            <div class="x_content">
	                {% if form.errors %}
					    {% for field in form %}
					        {% for error in field.errors %}
					        	<style>
									#{{ field.id_for_label }} {
										border: 1px solid #f64747;
										border-radius: 3px;
									}
					        	</style>				            
					        {% endfor %}
					    {% endfor %}
					    {% for error in form.non_field_errors %}
					        <div class="alert alert-error">
					            <strong> {{ error|escape }}</strong>
					        </div>
					    {% endfor %}
					{% endif %}
					<div class="form-group">
						{{ form.ItemId.errors }}
						<label for="{{ form.ItemId.id_for_label }}">Código de artículo</label>
						{% render_field form.ItemId class+="form-control" %}
					</div>
					<div class="form-group">
						{{ form.ItemName.errors }}
						<label for="{{ form.ItemName.id_for_label }}">Nombre de artículo</label>
						{% render_field form.ItemName class+="form-control" %}
					</div>
					<div class="form-group">
						{{ form.Description.errors }}
						<label for="{{ form.Description.id_for_label }}">Descripción</label>
						{% render_field form.Description class+="form-control" %}
					</div>
					<div class="form-group">
						{{ form.UnitId.errors }}
						<label for="{{ form.UnitId.id_for_label }}">Unidad</label>
						{% render_field form.UnitId class+="form-control" %}
					</div>
					<div class="form-group">
						{{ form.PrimaryVendor.errors }}
						<label for="{{ form.PrimaryVendor.id_for_label }}">Proveedor principal</label>
						{% render_field form.PrimaryVendor class+="form-control" %}
					</div>
					<div class="form-group">
						{{ form.Price.errors }}
						<label for="{{ form.Price.id_for_label }}">Precio de venta</label>
						{% render_field form.Price class+="form-control" %}
					</div>
					<div class="form-group">
						{{ form.VendorPrice.errors }}
						<label for="{{ form.VendorPrice.id_for_label }}">Precio de compra</label>
						{% render_field form.VendorPrice class+="form-control" %}
					</div>
					<div class="form-group">
						{{ form.ItemImage.errors }}
						<label for="{{ form.ItemImage.id_for_label }}">Imagen de artículo</label>
						{% render_field form.ItemImage class+="" %}
					</div>
	            </div>
	        </div>
	    </div>
		<div class="col-md-3 col-sm-3 ">
			
		</div>
	</form>

{% endblock %}